@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: #eeeeee;
}

.outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  background: #ffffff;
  width: 1350px;
  margin: 20px 0;
  padding: 25px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left {
  display: block;
  height: fit-content;
}

.left .product_img {
  height: 430px;
  width: 430px;
  background-position: center;
  background-size: cover;
  /* padding: 10px; */
}

.left .product_img video {
  height: 100%;
  width: 100%;
}

.product_details {
  text-align: left;
  margin: 0 10px 10px;
  padding: 5px 0;
}
.product_details .title {
  font-size: 1.3em;
  color: rgb(99, 99, 99);
  font-weight: 900;
}
.product_details .discription {
  margin-top: 2px;
  font-size: 0.8em;
  color: gray;
}
.product_details .price {
  margin-top: 4px;
  font-size: 1.1em;
  font-weight: 600;
}
.product_details .price span {
  font-weight: 500;
}
.product_details .price .price_original {
  text-decoration: line-through;
  font-size: 0.7em;
  font-weight: 400;
  color: gray;
}
.product_details .price .offer {
  color: #03ac13;
  font-weight: 600;
}
.product_details .other {
  font-size: 0.8em;
  color: grey;
}

.right {
  display: block;
}
.right .product_description {
  text-align: left;
  margin: 0 20px;
}

.product_description p {
  color: grey;
  margin: 10px 0;
}
.product_description .highlight {
  color: rgb(99, 99, 99);
  font-weight: 900;
}
.product_description .special {
  font-size: 0.85em;
}

.product_description ul {
  padding: 10px 5px 0 20px;
  list-style: none;
}

.product_description li {
  margin-bottom: 10px;
}

.buy-now-button {
  width: 100%;
  height: 50px;
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  margin-top: 15px;
}

@media screen and (max-width: 769px) {
  section {
    margin: 5px 0;
    padding: 7px;
    width: 100% !important;
  }
  .content {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
  }

  h4 .title {
    font-size: 1em !important;
  }
  p {
    width: 90%;
  }
  p.discription {
    font-size: 0.7em !important;
  }
  p.other {
    font-size: 0.7em !important;
  }
  .product_description ul {
    padding: 0;
  }
  .left .product_img {
    height: fit-content !important;
    max-width: 450px;
    width: fit-content;
  }
}
